<h1>Welcome#index</h1>
<p>Find me in app/views/welcome/index.html.erb</p>

<h2>Hello and Welcome</h2>

 <script type="text/javascript">

  var circleData = [
  { "cx": 20, "cy": 20, "radius": 20, "color" : "pink" },
  { "cx": 70, "cy": 70, "radius": 20, "color" : "green" }];

  var svg = d3.select("body").append("svg")
                              .attr("width", "300")
                              .attr("height", "300");

  var circles = svg.selectAll("circle")
                    .data(circleData)
                    .enter()
                    .append("circle");

  var circleAttr = circles
                    .attr("cx", function(d){return d.cx;})
                    .attr("cy", function(d){return d.cy;})
                    .attr("r", function(d){return d.radius;})
                    .style("fill", function(d){return d.color;});





 </script>
